{
	ocsp_stapling off
}

mischief-materials.local.home {
  reverse_proxy client:3000
  encode zstd gzip
  tls /config/cert.pem /config/key.pem

  log {
    output file /var/log/access.log {
      roll_size 1gb
      roll_keep 5
      roll_keep_for 720h
    }
  }
}
