rats-in-transit.com {
  reverse-proxy       client:3000
  encode              zstd gzip
  metrics
  # tls cert.pem key.pem

  health_uri /healthz

  log {
    output            file    /var/log/access.log {
      roll_size       1gb
      roll_keep       5
      roll_keep_for   720h
    }
  }
}

# metrics /metrics
