@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input {
  @apply rounded-lg text-black
}

button {
  @apply h-10 w-32 bg-lime-400 rounded-lg
}

.raisin-black {
  background-color: #1a1a27;
}

.blush {
  background-color: #e75a7c;
}

.ivory {
  background-color: #f2f5ea;
}

.glaucous {
  background-color: #647aa3;
}

.dim-gray {
  background-color: #6c756b;
}
