@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --foreground-hex: #1a1a27;  /*Raisin-Black*/
  --background-hex: #FFFFFF;  /*White*/
  --action-hex: #647aa3;      /*Glaucous*/
  --highlight-hex: #e75a7c;   /*Blush*/
  --dim-gray: #6c756b;        /*Dim-gray*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --foreground-hex: #f2f5ea;  /*Ivory*/
    --background-hex: #1a1a27;  /*Raisin-Black*/
    --action-hex: #647aa3;      /*Glaucous*/
    --highlight-hex: #e75a7c;   /*Blush*/
    --dim-gray: #6c756b;        /*Dim-gray*/
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      #1a1a27
    )
    #1a1a27;
}

/* Buttons */
button {
  @apply rounded-lg font-mono p-2;
  background-color: #647aa3;
  transition: box-shadow 0.5s;
  transition: background-color 0.2s;
  color: #f2f5ea;
}

button:hover, :focus {
  box-shadow: 0px 0px 5px 2px var(--action-hex);
}

button:disabled {
  @apply bg-gray-500;
}

button:active {
  background-color: #6c756b;
  border-color: --foreground-hex;
}

/* Input */
input {
  @apply rounded-lg text-black;
}

input:placeholder-shown {
  @apply rounded-lg text-black;
}

input:checked {
  @apply bg-gray-500;
}

input:required {
  @apply bg-gray-500;
}

/* Images & Icons */

.sidebar-icon {
  @apply rounded-r-md w-16 h-16 px-2;
  fill: var(--foreground-hex);
}

.sidebar-icon:hover, :focus {
  box-shadow: 0px 0px 5px 2px var(--action-hex);
}

.title-icon {
  @apply border border-white rounded-full w-10 h-10 mx-4 bg-white;
}

.stats-icon {
  @apply w-5 h-5
}

/* Spacing */

.monster {
  gap: 5px;
}

.mask {
  fill: #FFF;
}

.backing {
  fill: #1A1A27;
}

.text-field {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

.name_stats {
  flex: 1 0 0;
}

.stats {
  flex: 1 0 0;
}
