@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Libre+Barcode+39+Text&family=Notable&family=Play');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #1A1A27;
  --primary-dark-grey: #31313B;
  --primary-grey: #6C756B;
  --primary-light-grey: #D9D9D9;
  --primary-light: #F2F5EA;
  --primary-white: #FFFFFF;
  --primary-faint: #D9D9D980;

  --secondary-dark: #2D4D89;
  --secondary-light: #647AA3;
  --secondary-faint: #647AA380;

  --highlight-dark: #B53453;
  --highlight-light: #E75A7C;
  --highlight-faint: #E75A7C80;

  --success-dark: #13C90F;
  --success-light: #40FF3D;
  --success-faint: #40FF3D80;

  --warning-dark: #E4A400;
  --warning-light: #FFB800;
  --warning-faint: #FFB80080;

  --danger-dark: #DC1414;
  --danger-light: #FF3434;
  --danger-faint: #FF343480;

  --card-title: linear-gradient(#FFFFFF00 0%, var(--secondary-faint) 20%, var(--secondary-light) 100%);
  --tab-bg: linear-gradient(#FFFFFF00, var(--secondary-light));
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-dark: #f2f5ea;  /*Ivory*/
    --primary-light: #1a1a27;  /*Raisin-Black*/
  }
}

body {
  @apply flex flex-col;
  font-family: 'Roboto';
  color: var(--primary-dark);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--primary-light)
    )
    var(--primary-light);
}

/* Utilities */

.border-construct {
  @apply border rounded-lg p-2;
  border-color: var(--primary-dark);
}

.font-roboto {
  font-family: 'Roboto';
}

.font-play {
  font-family: 'Play';
}

.font-notable {
  font-family: 'Notable';
}

.font-libre {
  font-family: 'Libre Barcode 39 Text';
}

/* Buttons */

.cancel-button {
  background-color: var(--primary-light);
  border: solid 2px var(--secondary-light);
}

.random-button {
  fill: var(--primary-dark);
}

.submit-button {
  background-color: var(--secondary-light);
}

.button-action {
  @apply rounded-lg py-1 px-3 h-fit w-fit;
  transition: box-shadow 0.5s, background-color 0.2s;
  pointer-events: all;
}

.button-action:hover, :focus {
  box-shadow: 0px 0px 5px 2px var(--secondary-light);
}

.button-action:disabled {
  @apply bg-gray-500;
}

.button-action:active {
  background-color: var(--highlight-light);
  border-color: var(--primary-dark)
}

/* Input */

.input-field {
  @apply p-2;
  background-color: var(--primary-dark-grey);
}

/* Icons */

.icon {
  fill: var(--primary-dark);
}

.stats-icon {
  @apply aspect-square h-5;
  pointer-events: all;
  fill: var(--primary-dark);
}

.size-icon {
  @apply h-full aspect-square;
  fill: var(--primary-dark)
}

.sidebar-icon {
  @apply rounded-r-md;
  transition: filter 0.5s, fill 0.2s;
}

.sidebar-icon:hover, :focus {
  filter:drop-shadow(0px 0px 10px var(--secondary-light));
}

.sidebar-icon:active {
  fill: var(--highlight-light)
}






/* Navigation */



.play {
  @apply flex flex-row items-center rounded-full h-2/3 py-2 px-3 gap-2;
  background-color: var(--secondary-light);
  fill: var(--primary-dark);
  transition: fill 0.15s, color 0.15s;
}

.play:active {
  color: var(--highlight-light);
  fill: var(--highlight-light);
}

/* Link */
.nav-link {
  @apply h-full px-4 flex items-center;
  fill: var(--primary-dark);
  transition: fill 0.15s, color 0.15s;
}

.nav-link:hover, :focus {
  @apply shadow-none;
  background-image: linear-gradient(rgba(255, 255, 255, 0), var(--secondary-light));
}

.nav-link:active {
  @apply shadow-none;
  background-image: var(--tab-bg);
  color: var(--highlight-light);
  fill: var(--highlight-light);
}

.add-link {
  @apply flex items-center justify-center px-2 rounded-lg;
}

.add-link:hover, :focus {
  box-shadow: 0px 0px 5px 2px var(--secondary-light);
}

.add-link:active {
  background-color: var(--highlight-light)
}

/* Components */
/* Monster Card */

.monster-card {
  @apply flex flex-row justify-center items-start self-stretch rounded-md border w-80 p-2;
  height: 4.25rem;
  border-color: var(--primary-dark);
  transition-property: height, width;
  transition-duration: 1s;
}

.monster-card:active {
  height: 8.5rem;
  width: 40rem;
}

.stats {
  @apply flex items-center gap-3 self-stretch;
}

.stats div {
  @apply flex flex-row gap-1 items-center;
}

.health-circle {
  @apply h-full aspect-square relative;
}

.health-circle > div {
  @apply flex rounded-full aspect-square h-full items-center justify-center;
  background-color: var(--success-light);
}

.health-circle .stats-icon {
  @apply z-10 absolute left-0 bottom-0;
  height: 40%;
}

.health-circle h3 {
  @apply flex rounded-full aspect-square h-5/6 justify-center items-center leading-none;
  background-color: var(--primary-light);
  color: var(--success-light);
}

.health-circle > h5 {
  @apply flex aspect-square z-20 absolute left-0 bottom-0 leading-none items-center justify-center;
  color: var(--primary-light);
  height: 40%;
}

/**/

.monster-radio {
  @apply flex flex-row h-min justify-between w-full;
}

.monster-radio label {
  @apply block h-full w-full text-center cursor-pointer;
}

.form-icon {
  @apply w-full aspect-square max-h-16;
  fill: var(--primary-dark);
  transition: fill .15s ease-in-out, filter .15s ease-in-out;
}

/* Animations */

.scrolling-text {
  @apply whitespace-nowrap text-clip;
}

.scrolling-text::-webkit-scrollbar{
  display: none;
}

.scrolling-text:hover {
  @apply whitespace-nowrap text-clip w-fit;
  animation: scrolling 4s linear 0s infinite;
}

@keyframes scrolling {
    0% {}
    100% {
        transform: translate3d(-110%,0,0);
    }
}